[submodule "rp14-exercise4"]
	path = rp14-exercise4
	url = git://github.com/frebib/rp14-exercise4.git
[submodule "rp-utils"]
	path = rp-utils
	url = git://github.com/hawesie/rp-utils.git

[submodule "search"]
	path = search
	url = git://github.com/frebib/GraphSearch.git
